body {
    display: flex;
    justify-content: center;
    background-color: #F5F5DC;
    font-family: Arial, Helvetica, sans-serif;
}

.acor-meme {
    background-color: #F5F5DC;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.label-name {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-self: flex-start;
    font-size: 1.5rem;
    font-weight: 700;
    color: hsl(60, 17%, 28%);
    border-top: 0.1em solid #d6d6b2;
    box-sizing: border-box;
    cursor: pointer;
}

img {
    height: auto;
    width: 100%;
    max-width: 25rem;
    align-self: flex-start;
    padding: 0 7.5rem;
}

.title-meme {
    padding-right: 3rem;
}

.acor-picture input, .meme-img {
    display: none;
}

.acor-meme:hover .label-name {
    color: black;
}

.label-name .plus:hover {
    display: block;
}

.acor-picture input:checked ~ .meme-img {
    display: block;
    
}

.acor-picture:hover .meme-img {
    display: block;
}

.plus {
    opacity: 0;
}

.acor-meme:hover .plus {
    opacity: 1;
}
input:checked ~ .label-name .plus {
    transform: rotate(45deg);
}

